@import '../../index.css';

.imgLayer{
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 30%;
  right: 0;
  background: var(--layer);
  opacity: 0.6;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.lyerText{
    color: #ffffff;
    margin: 0;
    font-weight: 600;
   
    
  
}